 <div class="container">

<p>
  <strong>Node name:</strong>
  <%= node.node_name %>
</p>


<h2>Comments</h2>
      
        <%= render 'comments/comments', node: @node%>
        
       <!-- <h2>Add a comment:</h2>
      
        <%= render 'comments/comment_form' ,node: @node%> -->
     
 </div>
 </div>