<div class="container">
<div id="new_update"></div>
  <h1>Editing Company</h1>

  <%= render 'form', company: @company %>
  <div class="col-md-10">
  <%= link_to 'Show', @company,:class=>"btn btn-success" %> |
  <%= link_to 'Back', companies_path ,:class=>"btn btn-success" %>
</div>

</div>