<div class="container-fluid">
<p>
  <strong>User:</strong>
  <%if @user_region.user_id.present? %>
  <%= User.find(@user_region.user_id).first_name %>
    <% end %>
</p>

<p>
  <strong>Region:</strong>
 <%if @user_region.region_id.present?%>
  <%= Region.find(@user_region.region_id).region_name %>
<%end%>
</p>

</div>

