<p id="notice"><%= notice %></p>
<div id="country-show-partial"></div>
<p>
  <strong>Country name:</strong>
  <%= @country.country_name %>

</p>
<p>
  <strong>Country Code:</strong>
  <%= @country.code %>
  
</p>


<%= link_to 'Back', countries_path ,:class=>"btn btn-success"%>
