<div class="container">

<h1>Editing Country</h1>

<%= render 'form', country: @country %>
<br><br><br><br>

<div class="form-group">
 <div class="col-md-6 ">
<%= link_to 'Show', @country ,:class=>"btn btn-success" %> |
<%= link_to 'Back', countries_path ,:class=>"btn btn-success" %>
</div>
</div>
</div>
