<div class="container">
 <h1>Editing City</h1>

 <%= render 'form', city: @city %>
 <br><br>
 <%= link_to 'Show', @city,:class=>"btn btn-success" %> |
 <%= link_to 'Back', cities_path,:class=>"btn btn-success" %>
</div>