<div class="container">
<h1>Editing Region</h1>

<%= render 'form', region: @region %>
<br><br><br><br>
<div class="form-group">
<%= link_to 'Show', @region,:class=>"btn btn-success" %> |
<%= link_to 'Back', regions_path,:class=>"btn btn-success" %>
</div>
</div>