<p id="notice"><%= notice %></p>

<p>
  <strong>Region name:</strong>
  <%= @region.region_name %>
</p>

<%= link_to 'Edit', edit_region_path(@region),:class=>"btn btn-success" %> |
<%= link_to 'Back', regions_path,:class=>"btn btn-success" %>
